body{
    background-color: darksalmon;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.cabecalho{
    color: aliceblue;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 50%;
    width: 250px;
    height: 100px;

}
